<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href="{{ asset('css/auth/login.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/alert.css') }}" rel="stylesheet" />

        {# Librairies #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block stylesheets %}
        {% endblock %}

        {#<script type="text/javascript" src="{{ asset('js/alert.js') }}" />#}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
