{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.email.title'|trans({'%title%': appname|capitalize}, 'auth') }}{% endblock %}

{% block body %}
    <p>Refresh the page once you have verified your account by checking emails </p>
{% endblock %}